.main-container{
    width: 70vw;
    margin: auto;
}

.options{
    width: 50%;
}
.diagram-container{
    max-width: 40rem;
    max-height: 60rem;
    background-color: rgb(237, 236, 236);
}

.diagram-container img{
    max-width: 50vw;
    max-height: 65vh;
}