name: Deploy to VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y php php-mysql

      - name: Deploy code
        uses: azure/ssh-deploy@v1.1.0
        with:
          host: 'chanuka.northeurope.cloudapp.azure.com'
          username: 'chanuka'
          password: ${{ secrets.VM_PASSWORD }}
          script: 'cd /var/www/html/GenUML && git pull'
